node_modules
my-newapp/.browserslistrc
my-newapp/.editorconfig
my-newapp/.gitignore
my-newapp/angular.json
my-newapp/karma.conf.js
my-newapp/package-lock.json
my-newapp/package.json
my-newapp/README.md
my-newapp/tsconfig.app.json
my-newapp/tsconfig.json
my-newapp/tsconfig.spec.json
my-newapp/tslint.json
my-newapp/e2e/protractor.conf.js
my-newapp/e2e/tsconfig.json
my-newapp/e2e/src/app.e2e-spec.ts
my-newapp/e2e/src/app.po.ts
my-newapp/src/favicon.ico
my-newapp/src/index.html
my-newapp/src/main.ts
my-newapp/src/polyfills.ts
my-newapp/src/styles.css
my-newapp/src/test.ts
my-newapp/src/app/app.component.css
my-newapp/src/app/app.component.html
my-newapp/src/app/app.component.spec.ts
my-newapp/src/app/app.component.ts
my-newapp/src/app/app.module.ts
my-newapp/src/app/product-description/product-description.component.css
my-newapp/src/app/product-description/product-description.component.html
my-newapp/src/app/product-description/product-description.component.spec.ts
my-newapp/src/app/product-description/product-description.component.ts
my-newapp/src/app/user-item/user-item.component.css
my-newapp/src/app/user-item/user-item.component.html
my-newapp/src/app/user-item/user-item.component.spec.ts
my-newapp/src/app/user-item/user-item.component.ts
my-newapp/src/app/user-list/user-list.component.css
my-newapp/src/app/user-list/user-list.component.html
my-newapp/src/app/user-list/user-list.component.spec.ts
my-newapp/src/app/user-list/user-list.component.ts
my-newapp/src/assets/.gitkeep
my-newapp/src/environments/environment.prod.ts
my-newapp/src/environments/environment.ts
